Django>=6.0.3,<6.1
psycopg[binary]>=3.2,<4.0
djangorestframework>=3.16.1,<4.0
django-cors-headers>=4.7,<5.0
# Africa's Talking SMS broadcaster
africastalking>=2.0.2,<3.0
# Parliament scraper dependencies
requests>=2.32.0,<3.0
beautifulsoup4>=4.12.0,<5.0
lxml>=5.0.0
